<%content_for :head do%>

<script>
	
	$(document).ready(function(){
		CheckCon();
	});
	
	setInterval(function() {
	    //alert("Checa conexão");  
		CheckCon()
	}, 60000);
	

	function CheckCon()
	{
		$.ajax({
		  type:     "GET",
		  dataType: "html",
		  crossDomain: true,
		  url: "http://basecamp.korewa.com.br/users/new",
			success: function(msg){
				//alert("online");
				//alert(msg);
				$("#status").addClass("success");
				$("#status").html("online");
		    },
			error: function(msg){
				//alert("offline");
				//alert(msg);
				$("#status").removeClass("success");
				$("#status").html("offline");
		    }
		});
	}
</script>
<%end%>

<div id="TimeTracking" class="twelve columns">
	<h1>Time Tracking </h1>
	
	<div id="name" class="twelve columns">
		
		<div id="name" class="alert-box">
			Escolha a tarefa que você deseja iniciar o time tracking e clique em "START".
		</div>
		<div id="name" class="twelve columns panel">
			<h2>Minhas Tarefas</h2>
			<span class="label round success">tarefas para hoje</span>
			<span class="label round ">tarefas atrasadas</span>
			<span class="label round secondary">próximas tarefas</span>
			<%
			@projects.each do |p|
			$total_tarefas = 0
			%>
				<div id="project<%=p.id%>" class="twelve columns">
					<h4>
						<%=p.name%>
					</h4>
					
					<div id="name" class="twelve columns panel">
						<%p.todo_lists.all(:conditions => ['completed = 0']).each do |tl|%>
							<%tl.todo_items.all(:conditions => ['responsible_party_id = ? AND completed = 0', @me.id]).each do |item|%>

										<%$total_tarefas = $total_tarefas + 1%>
										<%=form_tag new_timetrack_path, :method => :get,  :remote => :true, :id => item.basecamp_id.to_s%>
											
												<div id="name" class="twelve columns" style="height:auto; min-height:42px;">
													<div class="one columns">
														<%if cookies[:timetracking] == item.basecamp_id.to_s%>
															<input type="submit" value="Stop" class="medium button secondary" id="btn<%=item.basecamp_id.to_s%>" onclick="$('#load<%=item.basecamp_id%>').fadeIn();">
															
															<%#=button_tag, :type => "button", "Stop", :class => "medium button secondary", :id => "btn" + item.id.to_s, :onclick=>"$('#motivo#{item.id.to_s}').fadeIn();"%>
														<%else%>
															<%=submit_tag "Start", :class => "medium button", :id => "btn" + item.basecamp_id.to_s, :onclick=>"$('#load#{item.basecamp_id}').fadeIn();"%>
														<%end%>
													</div>

													<div class="eleven columns">
														<h5>
														<%=image_tag("loading.gif", :style=>"display:none;", :id => "load#{item.basecamp_id}")%>
														
														<%=item.content%>
														
														<%if !item.due_at.blank?%>
															<%if Date.parse(DateTime.now.to_s) > Date.parse(item.due_at.to_s)%>
																<!-- EM DIA -->
																<span class="label round">
																	<%=item.due_at.strftime("%A, %d %B %Y")%>
																<span>
															<%elsif Date.parse(DateTime.now.to_s) == Date.parse(item.due_at.to_s)%>
																<!-- PARA HJ -->
																<span class="label round success">
																	<%=item.due_at.strftime("%A, %d %B %Y")%>
																<span>
															<%else%>
																<!-- ATRASADO -->
																<span class="label round secondary">
																	<%=item.due_at.strftime("%A, %d %B %Y")%>
																<span>
															<%end%>
														<%else%>
														
														<%end%> 

														<%=hidden_field_tag :todo_item_id, item.basecamp_id%>
														</h5>
														
														<div id="motivo<%=item.basecamp_id.to_s%>" class="twelve columns" <%="style='display:none;'" if cookies[:timetracking] != item.basecamp_id.to_s%>>
															<span class="label secondary">Digite o motivo de ter pausado a tarefa. Ex: Fazer outro Job, horário de almoço ou tarefa finalizada.</span>
															<%=text_area_tag :motivo%>
															
														</div>
													</div>
												</div>
										</form>

							<%end%>
						<%end%>
					</div>
				</div>
				<%if $total_tarefas < 1%>
					<script>
						$("#project<%=p.id%>").css("display","none");
					</script>
				<%end%>
			<%end%>
		</div>
		
	</div>
</div>
